<main class="login-bg">
    <div class="login-logo d-flex justify-content-center"><img src="https://www.mainspring.com.ar/images/logo.png"></div>

    <div class="login-form d-flex justify-content-center align-items-center">
        <mat-card>
            <mat-card-header class="d-flex justify-content-center pb-3">
                <mat-card-title>Iniciar Sesión</mat-card-title>
            </mat-card-header>
            <mat-card-content> 
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>Constraseña</mat-label>
                            <input formControlName="password" matInput />
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-center pt-3">
                    <button type="submit" mat-stroked-button>Iniciar Sesión</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</main>