.login-bg {
    height: 100vh;
    background: rgb(239,116,35);
    background: linear-gradient(56deg, rgba(239,116,35,1) 0%, rgba(255,255,255,1) 100%);
}
.login-logo {
    height: 150px;
    padding-top: 40px;
}
.login-form {
    margin-top: 60px;
}